{{ partial "head.html" . }}
    <body class="white-mode">
         <div id="page-container">
             <section id="page-wrap">
                {{ partial "nav.html" . }}
                    <section id="wrapper" class="post">
                        <article>
                            <header>
                                <h1>
                                    {{ .Title }}
                                </h1>
                                <h2 class="headline">
                                {{ .Date.Format "Jan 2, 2006 15:04" }}
                                · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                                · {{ .ReadingTime }} minute read
                                <span class="tags">
                                {{ with .Params.tags }}
                                {{ if ge (len .) 1 }}
                                    {{ range . }}
                                        <a style="background-color: rgb({{ delimit (first 3 (shuffle (seq 0 145))) ", "  }});"
                                        	href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
                                    {{ end }}
                                {{ end }}
                                {{ end}}
                                </span>
                                </h2>
							</header>
							<hr>
                            {{ if .Site.Params.enableToc }}
                            {{ if .TableOfContents }}
                                <div id="toc">
                                {{ .TableOfContents }}
                                </div>
                            {{ end }}
                            {{ end }}
                            <section id="post-body">
                                {{ .Content }}
                            </section>
                        </article>

                        {{ if .Site.Params.enableShare }}
                            {{ partial "share.html" . }}
                        {{ end }}

                        {{ if .Site.Params.enableDisqus }}
                            {{ partial "disqus.html" . }}
                        {{ end }}

                        {{ if .Site.Params.showLatestPosts }}
                            {{ partial "latest-posts.html" . }}
                        {{ end }}
                    </section>
                </section>
            {{ partial "footer.html" . }}
            </div>
        {{ partial "js.html" . }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('pre code').forEach((el) => {
					hljs.highlightElement(el);
				});
			});
        </script>
		<script>
			window.onload = (event) => {
				var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

				if ("IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in
					window.IntersectionObserverEntry.prototype) {
					let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
						entries.forEach(function (entry) {
							if (entry.isIntersecting) {
								let smallImage = entry.target
								let lazyParentImageDiv = smallImage.parentElement;

								//add effect blurring with effect transition
								smallImage.classList.add('loaded');

								// Load large image
								var largeImage = new Image();
								largeImage.src = lazyParentImageDiv.getAttribute('data-large');
								largeImage.onload = function () {
									largeImage.classList.add('loaded');
									smallImage.replaceWith(largeImage);
								};

								largeImage.classList.remove("lazy");
								if(entry.intersectionRatio > 0){
									lazyImageObserver.unobserve(smallImage);
								}
							}
						});
					});

					lazyImages.forEach(function (lazyImage) {
						lazyImageObserver.observe(lazyImage);
					});
				}
			};
		</script>
    </body>
</html>
