{{ partial "head.html" . }}

<body class="white-mode">
	<script>
		// immediately invoked function to set the theme on initial load
		(function () {
			var darkThemeSelected = localStorage.getItem('preferredTheme') === 'dark';
			darkThemeSelected ? document.body.classList.add('dark-mode') : document.body.classList.remove('dark-mode');
		})();
	</script>
	
	{{ partial "nav.html" . }}
	{{ partial "profile.html" . }}


	<section id="wrapper"
			 class="tags">
		<div class="page-tags">
			<ul>
				{{ $data := .Data }}
				{{ range $key, $value := .Data.Terms.ByCount }}
				{{ if ($value.Name) }}
				<li>
					<a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
						{{ $value.Name | upper }} <span>({{ $value.Count }})</span>
					</a>

				</li>
				{{ end }}
				{{ end }}
			</ul>
		</div>
		{{ partial "footer.html" . }}
	</section>

	{{ partial "js.html" . }}
</body>

</html>