<div class="profile">
    <section id="wrapper-prof">
        <header id="header">
            <a href='{{ with .Site.Params.avatarLink }}{{ . }}{{ else }}{{ .Site.BaseURL }}now{{ end }}'>
                <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.jpg" alt="Profile Picture" aria-label="User Profile Picture"/>
            </a>
			<br>
			
			<div class="typewriter">
				<h1>&#8618;	{{ .Site.Title }} </h1> 
			</div>	
            <!-- {{ with .Site.Params.bio }}<h2>{{ . | markdownify }}</h2>{{ end }} -->
        </header>
    </section>
</div>
